.DS_Store
*~
*.o
guidocalculus/bin
guidocalculus/package/GuidoCalculus.app/
guidocalculus/src/.qmake.stash
guidocalculus/src/Debug/
guidocalculus/src/GuidoCalculus.build/
guidocalculus/src/GuidoCalculus.xcodeproj/
guidocalculus/src/Info.plist
guidocalculus/src/Release/
guidocalculus/src/project.pbxproj
guidocalculus/src/tmpSrc/
tools/bin
validation/0.90/
validation/1.10/
build/
